
/* ANIMATION*/

.animationContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 40px 0 20px 10px;
    /* background: url("/src/assets/Ilustration\ bottom.png");
    background-size: 880px;
    background-repeat: no-repeat;
    background-position-y: 89%;
    background-position-x: 62%; */
}

.circle{
    border-radius: 50%;
    background: none;
}

/* .fondo:after{
    content: url("/src/assets/Ilustration\ bottom.png");
    position: absolute;
    top: -440px;
    left: -450px;
    opacity: 0.5;
} */

.circle img{
    position: relative;
    top: -129px;
    left: -144px;
    width: 500px;
    background: none;
    border-radius: 50%;
}

.inner1{
    border: 1px solid red;
    width: 220px;
    height: 220px;
    position: relative;
    animation: turn 20s linear infinite;
}

.inner1::before{
    content: url("../assets/ts_Icon.png");
    position: absolute;
    left: -10px;
    top: 49px;
    animation: turn-back 20s linear infinite;
    z-index: 1;
    opacity: 0.8;
}

.inner1::after{
    content: url("../assets/js_Icon.png");
    position: absolute;
    left: 100px;
    top: 50px;
    animation: turn-back 20s linear infinite;
    opacity: 0.8;
}

.inner2{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 40px var(--primary-color);
}

.inner2::before{
    content: url("../assets/jira_Icon.png");
    position: absolute;
    top: -10px;
    left: 45px;
    animation: turn-back 20s linear infinite;
    z-index: 1;
    opacity: 0.8;
}

.inner2::after{
    content: url("../assets/figma_Icon.png");
    position: absolute;
    top: 150px;
    left: 95px;
    animation: turn-back 20s linear infinite;
    opacity: 0.8;
}

.outer1{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 75px;
    animation: turn-back 20s linear infinite;
}

.outer1::before{
    content: url("../assets/css_Icon.png");
    position: absolute;
    top: 6px;
    left: -95px;
    animation: turn 20s linear infinite;
    opacity: 0.8;
}

.outer1::after{
    content: url("../assets/sass_Icon.png");
    position: absolute;
    top: 13px;
    left: 120px;
    animation: turn 20s linear infinite;
    opacity: 0.8;
}

.outer2{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 115px;
    animation: turn-back 20s linear infinite;
}

.outer2::before{
    content: url("../assets/html_Icon.png");
    position: absolute;
    top: 71px;
    left: -28px;
    animation: turn 20s linear infinite;
    opacity: 0.8;
}

.outer2::after{
    content: url("../assets/github_Icon.png");
    position: absolute;
    top: -90px;
    left: 20px;
    animation: turn 20s linear infinite;
    opacity: 0.8;
}

@keyframes turn{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes turn-back{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(-360deg);
    }
}

@media (width>900px){
    
.fondo::before{
    content: url("../assets/Ilustration\ bottom.png");
    position: absolute;
    top: -440px;
    left: -530px;
    opacity: 0.8;
}

}