
/* FORM SECTION*/

.formContainer{
    padding: 50px 20px;
    position: relative;
    background: none;
}

form{
    flex-direction: column;
    align-items: center;
    max-width: 560px;
    border: 1px solid rgba(240, 0, 142, 0.4);
    margin: auto;
    padding: 20px 20px 50px;
    gap: 40px;
    box-shadow: 4px 4px 20px rgba(240, 0, 142, 0.2);
    border-radius: 20px;
    transition: 0.3s;
}

form:hover{
    scale: 1.01;
    cursor: pointer;
    box-shadow:  0 0 80px rgba(240, 0, 142, 0.8);
}

form::after{
    content: url("/assets/astronauta\ \(1\).png");
    position: absolute;
    right: 20%;
    top: 0px;
    z-index: 1;
}

.input-wrap{
    width: 100%;
    position: relative;
    height: 30px;
    background: none;
}

.message-wrap{
    width: 100%;
    position: relative;
    height: 150px;
    background: none;
}

.input-field{
    color: var(--sevenary-color);
    width: 100%;
    height: 100%;
    border: none;
    background-image: linear-gradient(to bottom right,rgba(240, 0, 142, 0.2), rgba(113, 255, 238, 0.2));
    border-radius: 8px;
    outline: none;
    padding: 0px;
}

label{
    color: white;
    font-family: var(--font-family-secondary);
    font-size: var(--paragraf-size);
    position: absolute;
    top: -30px;
    left: 0;
    background: none;
}

form button{
    border:none;
    background-image: linear-gradient(to bottom right, var(--secondary-color), var(--tertiary-color), var(--primary-color));
    box-shadow: 4px 4px 8px rgba(113, 255, 238, 0.4);
    padding: 4px;
    border-radius: 10px;
    font-family: var(--font-family-secondary);
    font-weight: 900;
    font-size: var(--h2-size);
    color: white;
    transition: 0.3s;
    display: flex;
    cursor: pointer;
}

button span{
    background-color: var(--background-color);
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.3s;
}

button span:hover{
    background: none;
}

form button:hover{
    scale: 1.09;
    box-shadow: 0px 0px 20px rgba(113, 255, 238, 0.5);
}

@media (width>900px){

    label{
        font-size: var(--h2-size);
    }

    form::after{
        display: none;
    }
    
    .formContainer::before{
        content: url("../assets/formBackground\ \(7\).png");
        position: absolute;
        top: -600px;
        right: 0px;
        background: none;
    }

    form{
        background: none;
        backdrop-filter: blur(15px);
        padding: 40px;
        gap: 60px;
        z-index: 20;
    }

    .input-wrap{
        height: 45px;
    }
}